@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --primary-color: #fe5b3e;
  --text-dark: #0f172a;
  --text-light: #475569;
  --extra-light: #f2f2f2;
  --white: #ffffff;
  --max-width: 1200px;
  --gradient: linear-gradient(to bottom, #fe5c3c, #fc8023);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__subheader {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-light);
  letter-spacing: 1px;
}

.section__header {
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--text-dark);
}

.btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  background-color: #474fa0;
  white-space: nowrap;
  border-radius: 4px;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: #3c4286;
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Mulish", sans-serif;
}

header {
  position: relative;
}

header::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  z-index: -1;
}

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  z-index: 9;
}

.nav__header {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
}

.nav__logo a {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--white);
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--primary-color);
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-100%);
}

.nav__links.open {
  transform: translateY(0);
}

.nav__links a {
  font-weight: 700;
  color: var(--white);
}

.nav__links .btn {
  padding: 0;
  background-color: transparent;
}

.nav__btns {
  display: none;
}

.header__container {
  display: grid;
  gap: 2rem 0;
  position: relative;
  isolation: isolate;
  overflow: hidden;
}

.header__container::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 100%;
  height: 50%;
  background: var(--gradient);
  border-radius: 1rem 1rem 0.5rem 0.5rem;
  z-index: -1;
}

.header__content h1 {
  position: relative;
  isolation: isolate;
  margin-bottom: 2rem;
  font-size: 2.75rem;
  font-weight: 800;
  color: var(--text-dark);
  line-height: 3.25rem;
}

.header__content h1::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -1rem;
  height: 4px;
  width: 2rem;
  background-color: var(--primary-color);
}

.header__content p {
  margin-bottom: 2rem;
  font-weight: 500;
  color: var(--text-dark);
  line-height: 1.75rem;
}

.header__links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header__links img {
  max-width: 125px;
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.steps__container :is(.section__subheader, .section__header) {
  text-align: center;
}

.steps__grid {
  margin-top: 4rem;
  display: grid;
  gap: 2rem;
}

.steps__card {
  text-align: center;
}

.steps__card span {
  display: inline-block;
  margin-bottom: 2rem;
  padding: 10px 17px;
  font-size: 1.75rem;
  color: var(--primary-color);
  border-radius: 5px;
  background-color: var(--extra-light);
  border: 4px solid var(--white);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.steps__card:hover span {
  padding: 14px 21px;
  background: var(--gradient);
  color: var(--white);
  border: none;
}

.steps__card h4 {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 800;
  color: var(--text-dark);
}

.steps__card p {
  color: var(--text-light);
  line-height: 1.75rem;
}

.service__container {
  display: grid;
  gap: 2rem;
  overflow: hidden;
}

.service__list {
  margin-top: 2rem;
  display: grid;
  gap: 2rem;
}

.service__list li {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.service__list li span {
  padding: 12px 15px;
  font-size: 1.5rem;
  color: var(--primary-color);
  background-color: var(--extra-light);
  border: 4px solid var(--white);
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.service__list h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--text-dark);
}

.service__list p {
  color: var(--text-light);
  line-height: 1.75rem;
}

.experience__container :is(.section__subheader, .section__header) {
  text-align: center;
  max-width: 600px;
  margin-inline: auto;
}

.experience__content {
  max-width: 1024px;
  margin-inline: auto;
  margin-top: 4rem;
  position: relative;
  isolation: isolate;
}

.experience__content img {
  max-width: 300px;
  margin-inline: auto;
  opacity: 0.5;
}

.experience__card {
  position: absolute;
  max-width: 200px;
}

.experience__card span {
  display: inline-block;
  margin-bottom: 0.5rem;
  padding: 10px 13px;
  font-size: 1.5rem;
  color: var(--primary-color);
  background-color: var(--extra-light);
  border: 4px solid var(--white);
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.experience__card h4 {
  font-size: 1rem;
  font-weight: 700;
  color: var(--text-dark);
}

.experience__card:nth-child(1) {
  top: 5rem;
  left: 1rem;
}

.experience__card:nth-child(2) {
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.experience__card:nth-child(3) {
  bottom: 5rem;
  left: 1rem;
}

.experience__card:nth-child(4) {
  top: 5rem;
  right: 1rem;
  text-align: right;
}

.experience__card:nth-child(5) {
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  text-align: right;
}

.experience__card:nth-child(6) {
  bottom: 5rem;
  right: 1rem;
  text-align: right;
}

.download__container {
  overflow: hidden;
}

.download__grid {
  display: grid;
  padding: 5rem 1rem;
  background: var(--gradient);
  border-radius: 1rem;
}

.download__image {
  display: none;
}

.download__content .section__header {
  margin-bottom: 1rem;
  color: var(--white);
}

.download__content p {
  margin-bottom: 2rem;
  color: var(--extra-light);
  line-height: 1.75rem;
}

.download__links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.download__links img {
  max-width: 125px;
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.footer__container {
  display: grid;
  gap: 4rem 2rem;
  border-bottom: 1px solid var(--text-light);
}

.footer__col h4 {
  margin-bottom: 2rem;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--text-dark);
}

.footer__links {
  display: grid;
  gap: 1rem;
}

.footer__links a {
  font-weight: 600;
  color: var(--text-light);
}

.footer__links a:hover {
  color: var(--primary-color);
}

.footer__bar {
  padding-block: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: wrap;
}

.footer__bar h4 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-dark);
}

.footer__bar p {
  font-weight: 500;
  color: var(--text-light);
  text-align: center;
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer__socials a {
  display: inline-block;
  padding: 8px 10px;
  font-size: 1rem;
  color: var(--text-dark);
  border-radius: 100%;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.footer__socials a:hover {
  color: var(--white);
  background: var(--gradient);
}

@media (width > 540px) {
  .steps__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width > 768px) {
  header::before {
    height: calc(100% - 4rem);
  }

  nav {
    position: static;
    padding-block: 2rem;
    padding-inline: 1rem;
    max-width: var(--max-width);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .nav__header {
    flex: 1;
    padding: 0;
    background-color: transparent;
  }

  .nav__logo a {
    font-weight: 800;
    color: var(--text-dark);
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    padding: 0;
    width: fit-content;
    flex-direction: row;
    background-color: transparent;
    transform: none;
  }

  .nav__links a {
    padding-block: 5px;
    color: var(--text-dark);
    border-bottom: 2px solid transparent;
  }

  .nav__links a:hover {
    border-color: var(--primary-color);
  }

  .nav__links__btn {
    display: none;
  }

  .nav__btns {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
  }

  .nav__btns .btn__primary {
    color: var(--text-dark);
    background-color: transparent;
  }

  .header__container {
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
  }

  .header__container::before {
    right: 5rem;
    width: calc(50% - 4rem);
    height: 100%;
  }

  .header__image {
    grid-column: 3/6;
  }

  .header__content {
    grid-area: 1/1/2/3;
  }

  .steps__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .service__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .experience__content img {
    opacity: 1;
  }

  .experience__card:nth-child(1) {
    left: 5rem;
  }

  .experience__card:nth-child(3) {
    left: 5rem;
  }

  .experience__card:nth-child(4) {
    right: 5rem;
  }

  .experience__card:nth-child(6) {
    right: 5rem;
  }

  .download__grid {
    margin-block: 4rem;
    padding-inline: 2rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .download__image {
    display: flex;
    position: relative;
    isolation: isolate;
  }

  .download__image img {
    position: absolute;
    max-width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.2));
  }

  .footer__container {
    grid-template-columns: repeat(4, 1fr);
  }

  .footer__bar {
    flex-direction: row;
  }

  .footer__bar :is(h4, .footer__socials) {
    flex: 1;
  }

  .footer__socials {
    justify-content: flex-end;
  }
}









/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2022 codewithsadee
 */





/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

  /**
   * colors
   */

   /* --pale-purple-pantone: hsl(262, 63%, 92%);
  --medium-sea-green: hsl(152, 63%, 43%);
  --lavender-blush: hsl(336, 35%, 92%); */
  --carolina-blue: #fe5b3e;
  /* --columbia-blue: hsl(204, 92%, 90%);
  --alice-blue-1: hsl(216, 38%, 95%);
  --alice-blue-2: hsl(216, 75%, 97%);
  --alice-blue-3: hsl(216, 38%, 95%);
  --alice-blue-4: hsl(217, 33%, 92%);
  --independence: hsl(219, 21%, 39%);
  --deep-cerise: hsl(329, 63%, 52%);
  --eerie-black: hsl(210, 11%, 15%);
  --space-cadet: hsl(240, 22%, 25%);
  --blue-jeans: hsl(204, 80%, 63%);
  --slate-blue: hsl(262, 60%, 57%);
  --beau-blue: hsl(208, 86%, 92%);
  --honey-dew: hsl(152, 48%, 89%);
  --mimi-pink: hsl(329, 63%, 90%);
  --red-salsa: hsl(0, 79%, 63%);
  --sapphire: hsl(211, 100%, 35%);
  --manatee: hsl(219, 14%, 60%);
  --white: hsl(0, 0%, 100%);  */

  /* --gradient: linear-gradient(to top, var(--alice-blue-2), var(--alice-blue-3)); */

  /**
   * typography
   */

  --ff-nunito: 'Nunito', sans-serif; 
  --ff-open-sans: 'Open Sans', sans-serif;

  --fs-1: 2.125rem;   
  --fs-2: 1.875rem;  
  --fs-3: 1.5rem;
  --fs-4: 1.375rem;
  --fs-5: 1.125rem;
  --fs-6: 0.875rem;
  --fs-7: 0.625rem;

  --fw-400: 400;
  --fw-600: 600;

  /**
   * transition
   */

  --transition: 0.5s ease;

  /**
   * spacing
   */

  --section-padding: 50px;

  /**
   * radius
   */

   --radius-10: 10px;
  --radius-14: 14px;
  --radius-18: 18px; 

  /**
   * shadow
   */

    --shadow-1: 3px 3px 9px hsla(240, 14%, 69%, 0.2);
    --shadow-2: 3px 3px 9px hsla(204, 92%, 59%, 0.3);

}





/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a { text-decoration: none; }

a,
img,
span,
label,
input,
button,
ion-icon { display: block; }

button,
input {
  background: none;
  border: none;
  font: inherit;
}

button { cursor: pointer; }

input { width: 100%; }

ion-icon { pointer-events: none; }

html {
  font-family: var(--ff-open-sans);
  color: var(--eerie-black);
  font-size: 1rem;
  line-height: 1.5;
  scroll-behavior: smooth;
}

body {
  background: var(--alice-blue-1);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 15px;
  height: 10px;
}

::-webkit-scrollbar-track { background: var(--white); }

::-webkit-scrollbar-thumb {
  background: hsla(219, 14%, 60%, 0.3);
  border: 2px solid var(--white);
}







/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container { padding-inline: 15px; }

button, a { transition: var(--transition); }

.btn {
  position: relative;
  background: var(--background, var(--carolina-blue));
  color: var(--color, var(--white));
  min-width: var(--width, 40px);
  min-height: var(--height, 40px);
  padding: 5px;
  display: grid;
  place-items: center;
  border-radius: var(--radius-14);
  font-family: var(--ff-nunito);
  font-size: var(--fs-6);
  font-weight: var(--fw-600);
  overflow: hidden;
}

.btn ion-icon {
  font-size: 22px;
  --ionicon-stroke-width: 40px;
}

.btn::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, hsla(0, 0%, 100%, 0.4), transparent);
  opacity: 0;
  pointer-events: none;
  transition: var(--transition);
}

.btn:is(:hover, :focus) { box-shadow: var(--shadow-2); }

.btn:is(:hover, :focus)::before { opacity: 1; }

.section { padding-block: var(--section-padding); }

.h1,
.h2,
.h3 {
  color: var(--space-cadet);
  font-family: var(--ff-nunito);
  line-height: 1.4;
}

.h1 {
  font-size: var(--fs-1);
  text-transform: uppercase;
}
    
  .h2,
  .h3 { font-weight: var(--fw-400); }
  
  .h2 { font-size: var(--fs-2); }
  
  .h3 { font-size: var(--fs-4); }
  
  .w-100 { width: 100%; }










/*-----------------------------------*\
  #FEATURED CAR
\*-----------------------------------*/

.featured-car .title-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px 15px;
  margin-bottom: 30px;
}

.featured-car-link {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--independence);
  font-size: var(--fs-6);
}

.featured-car-link span { transition: var(--transition); }

.featured-car-link:is(:hover, :focus) span { color: var(--space-cadet); }

.featured-car-link ion-icon {
  margin-top: 3px;
  transition: var(--transition);
}

.featured-car-link:is(:hover, :focus) ion-icon { color: var(--carolina-blue); }

.featured-car-list {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 30px;
}

.featured-car-card {
  background: var(--white);
  border: 1px solid var(--white);
  border-radius: var(--radius-18);
  padding: 10px;
  box-shadow: var(--shadow-1);
}

.featured-car-card .card-banner {
  background: hsla(0, 0%, 0%, 0.2);
  aspect-ratio: 3 / 2;
  border-radius: var(--radius-18);
  overflow: hidden;
}

.featured-car-card .card-banner > img {
  height: 100%;
  object-fit: cover;
}

.featured-car-card .card-content { padding: 20px 10px 10px; }

.featured-car-card .card-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  margin-bottom: 15px;
}

.featured-car-card .card-title { width: calc(100% - 60px); }

.featured-car-card .card-title > a {
  color: inherit;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.featured-car-card .card-title > a:is(:hover, :focus) { color: var(--carolina-blue); }

.featured-car-card .year {
  font-family: var(--ff-nunito);
  font-size: var(--fs-6);
  font-weight: var(--fw-600);
  padding: 3px 12px;
  border: 2px dashed hsla(204, 91%, 53%, 0.4);
  border-radius: var(--radius-14);
}

.featured-car-card .card-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
  margin-bottom: 15px;
}

.featured-car-card .card-list-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.featured-car-card .card-list-item ion-icon {
  font-size: 20px;
  color: var(--carolina-blue);
  --ionicon-stroke-width: 38px;
}

.featured-car-card .card-item-text {
  color: var(--independence);
  font-size: var(--fs-6);
}

.featured-car-card .card-price-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.featured-car-card .card-price {
  font-family: var(--ff-nunito);
  font-size: var(--fs-6);
  color: var(--space-cadet);
}

.featured-car-card .card-price strong {
  font-size: var(--fs-3);
  font-weight: var(--fw-400);
}

.featured-car-card .btn:last-child {
  --height: 36px;
  min-width: 100%;
}

.featured-car-card .fav-btn {
  --background: var(--beau-blue);
  --color: var(--blue-jeans);
  --height: 36px;
  --width: 36px;
  --shadow-2: none;
}

.featured-car-card .fav-btn ion-icon { font-size: 18px; }

.featured-car-card .fav-btn:is(:hover, :focus) {
  --background: var(--lavender-blush);
  --color: var(--red-salsa);
}

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for large than 350px screen
 */

@media (min-width: 350px) {

  /**
   * FEATURED CAR
   */

  .featured-car-card .card-list { grid-template-columns: 1fr 1fr; }

  .featured-car-card .card-price { margin-right: auto; }

  .featured-car-card .btn:last-child {
    min-width: max-content;
    padding-inline: 15px;
  }

}


/**
 * responsive for large than 580px screen
 */

@media (min-width: 580px) {

}

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 540px;
    margin-inline: auto;
  }

@media (min-width: 1200px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

  .container { max-width: 1170px; }


  .featured-car-list { grid-template-columns: repeat(3, minmax(0, 1fr)); }

  }
}
